
eclipse/.metadata/.log
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/18/703357725d09001e155fa9ca0b05a156
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/20/90c60bbae706001e1915902d424e9503
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/21/e066bb049604001e12b8af3e84c996cc
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/22/60bbee8f5d09001e155fa9ca0b05a156
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/3a/90caf2406e09001e1433ee841477c158
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/3e/a0d1ab2a6e09001e1433ee841477c158
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/5b/c044756b5d09001e155fa9ca0b05a156
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/69/005562795d09001e155fa9ca0b05a156
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/7/a0ef0163d603001e150c8ec12a2b6bab
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/91/003e82326409001e1977b9ce918d4e59
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/91/70d37c2c8106001e1b1e9d06b632e004
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/92/c0086e4fd603001e150c8ec12a2b6bab
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/a4/e03cd66fd603001e150c8ec12a2b6bab
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/b/60b94cd48a04001e12b8af3e84c996cc
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/b6/d0a1ad6bd603001e150c8ec12a2b6bab
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/b9/00b1c9226e09001e1433ee841477c158
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/c4/401dbf3a6e09001e1433ee841477c158
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/c8/7037043bda03001e18c380aca144298a
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/cf/b05cdd208106001e1b1e9d06b632e004
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/da/f0551e1c5e09001e1370dc3b3eb0b1d7
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Client/.indexes/e4/4e/b1/history.index
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Client/.indexes/e4/4e/history.index
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Client/.indexes/e4/9d/ad/1d/history.index
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Client/.indexes/e4/9d/ad/35/3b/history.index
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Client/.indexes/e4/9d/ad/35/3d/1d/history.index
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Client/.markers
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Client/org.eclipse.jdt.core/state.dat
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/90.tree
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/93.tree
eclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
eclipse/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
eclipse/.metadata/.plugins/org.eclipse.jdt.core/137624701.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
eclipse/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
eclipse/.metadata/.plugins/org.eclipse.m2e.logback/0.log
eclipse/.metadata/version.ini
eclipse/Client/bin/appu26j/Apple.class
eclipse/Client/bin/appu26j/AppleClientVersionChecker.class
eclipse/Client/bin/appu26j/config/Config.class
eclipse/Client/bin/appu26j/fontrenderer/FixedFontRenderer.class
eclipse/Client/bin/assets/minecraft/font/glyph_sizes.bin
eclipse/Client/bin/assets/minecraft/lang/en_US.lang
eclipse/Client/bin/net/minecraft/client/gui/FontRenderer.class
eclipse/Client/bin/net/minecraft/client/gui/GuiMainMenu.class
eclipse/Client/bin/net/minecraft/client/gui/GuiVideoSettings.class
eclipse/Client/bin/net/minecraft/client/Minecraft.class
jars/logs/2023-06-12-1.log.gz
jars/logs/2023-06-12-2.log.gz
jars/logs/2023-06-12-3.log.gz
jars/logs/2023-06-12-4.log.gz
jars/logs/2023-06-12-5.log.gz
jars/logs/2023-06-12-6.log.gz
jars/logs/2023-06-12-7.log.gz
jars/logs/latest.log
